<a href="#" class="btn js-fetch-document-button">FETCH</a>
<div>STUFF:
  <ul>
  {{#each alldocs}}
    <li>Title: {{{value.title}}}</li>
    <li>DOC: {{{value.document}}}</li> 
  {{/each}} 
  </ul>
</div>