<div>STUFF:
  <ul>
  {{#each documents}}
    <li><h1>{{{this.value.title}}}</h1></li>
    <li>{{{this.value.document}}}</li> 
    <li><button class="btn js-get-document-btn" id="{{{this.id}}}">Edit</button></li>
  {{/each}} 
  </ul>
</div>