<form class="js-wysihtml5-form wysihtml5-form">
  <legend>
    <label>Document name:</label>
    <input class="new-document-name js-new-document-name" type="text" placeholder="Document name" autofocus required>
  </legend>
  <textarea id="js-new-wysihtml5-textarea" placeholder="Enter your text ..."></textarea>
  <div class="form-buttons">
    <a href="#" class="btn btn-primary js-save-document-button">Save</a>
    <a href="#" class="btn js-cancel-document-button">Cancel</a>
  </div>
</form>