<form class="js-wysihtml5-form wysihtml5-form">
  <input class="document-name" type="text" placeholder="Document name" autofocus required>
  <textarea id="js-wysihtml5-textarea" placeholder="Enter your text ..." autofocus></textarea>
  <div class="form-buttons">
    <a href="#" class="btn btn-primary js-save-document-button">Save</a>
    <a href="#" class="btn js-cancel-document-button">Cancel</a>
  </div>
</form>