
<ul class="js-wysihtml5-toolbar wysihtml5-toolbar" id="wysihtml5-toolbar">
  <li class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-font"></i> Choose... <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="div" href="javascript:;" unselectable="on">Normal text</a></li>
        <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1" href="javascript:;" unselectable="on">Heading 1</a></li>
        <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2" href="javascript:;" unselectable="on">Heading 2</a></li>
      </ul>
    </li>
  <li class="btn-group">
    <a class="btn" data-wysihtml5-command="bold">Bold</a>
    <a class="btn" data-wysihtml5-command="italic">Italic</a>
  </li> 
  <li class="btn-group">
    <a class="btn" data-wysihtml5-command="insertOrderedList" title="Insert ordered list" unselectable="on"><i class="icon-th-list"></i></a>
    <a class="btn" data-wysihtml5-command="insertUnorderedList" title="Insert unordered list" unselectable="on"><i class="icon-list"></i></a>
    <a class="btn" data-wysihtml5-command="Indent" title="Indent"><i class="icon-indent-left" unselectable="on"></i></a>
    <a class="btn" data-wysihtml5-command="Outdent" title="Outdent"><i class="icon-indent-right" unselectable="on"></i></a>
  </li> 
  <li>
    <div class="bootstrap-wysihtml5-insert-link-modal modal hide fade">
      <div class="modal-header"><a class="close" data-dismiss="modal">×</a><h3>Insert Link</h3></div>
      <div class="modal-body"><input value="http://" class="bootstrap-wysihtml5-insert-link-url input-xlarge"></div>
      <div class="modal-footer"><a href="#" class="btn" data-dismiss="modal">Cancel</a><a href="#" class="btn btn-primary" data-dismiss="modal">Insert link</a></div>
    </div>
    <a class="btn" data-wysihtml5-command="createLink" title="Link" href="javascript:;" unselectable="on"><i class="icon-share"></i></a>
  </li>

  <li>
    <div class="bootstrap-wysihtml5-insert-image-modal modal hide fade" style="display: none; ">
      <div class="modal-header"><a class="close" data-dismiss="modal">×</a>
        <h3>Insert Image</h3></div>
        <div class="modal-body">
          <input value="http://" class="bootstrap-wysihtml5-insert-image-url input-xlarge">
        </div>
        <div class="modal-footer">
          <a href="#" class="btn" data-dismiss="modal">Cancel</a>
          <a href="#" class="btn btn-primary" data-dismiss="modal">Insert image</a>
        </div>
      </div>
      <a class="btn" title="Insert image" href="javascript:;" unselectable="on">
        <i class="icon-picture"></i>
      </a>
    </li>
</ul>

<form class="js-wysihtml5-form wysihtml5-form">
  <input class="document-name" type="text" placeholder="Document name" autofocus required>
  <textarea id="js-wysihtml5-textarea" placeholder="Enter your text ..." autofocus></textarea>
  <div class="form-buttons">
    <a href="#" class="btn btn-primary js-save-document-button">Save</a>
    <a href="#" class="btn js-cancel-document-button">Cancel</a>
  </div>
</form>