<ul class="js-wysihtml5-toolbar wysihtml5-toolbar" id="wysihtml5-toolbar" style="display: none;">
  <li>
    <a class="btn" data-wysihtml5-command="bold">Bold</a>
    <a class="btn" data-wysihtml5-command="italic">Italic</a>
  </li> 
  <li>
    <a class="btn" data-wysihtml5-command="insertOrderedList" title="Insert ordered list"><i class="icon-th-list"></i></a>
    <a class="btn" data-wysihtml5-command="insertUnorderedList" title="Insert unordered list"><i class="icon-list"></i></a>
    <a class="btn" data-wysihtml5-command="Outdent" title="Outdent"><i class="icon-indent-right"></i></a>
    <a class="btn" data-wysihtml5-command="Indent" title="Indent"><i class="icon-indent-left"></i></a>
  </li> 
  <li>
    <div class="bootstrap-wysihtml5-insert-link-modal modal hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Insert Link</h3>
      </div>
      <div class="modal-body">
        <input value="http://" class="bootstrap-wysihtml5-insert-link-url input-xlarge">
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <a href="#" class="btn btn-primary" data-dismiss="modal">Insert link</a>
      </div>
    </div>
    <a class="btn" data-wysihtml5-command="createLink" title="Link" href="javascript:;" unselectable="on"><i class="icon-share"></i></a>
  <!--     <div data-wysihtml5-dialog="createLink" style="display: none;">
      <label>
        Link:
        <input data-wysihtml5-dialog-field="href" value="http://" class="text">
      </label>
      <a data-wysihtml5-dialog-action="save">OK</a> <a data-wysihtml5-dialog-action="cancel">Cancel</a>
    </div> -->
  </li>

  <li>
    <div class="bootstrap-wysihtml5-insert-image-modal modal hide fade" style="display: none; ">
      <div class="modal-header"><a class="close" data-dismiss="modal">×</a>
        <h3>Insert Image</h3></div>
        <div class="modal-body">
          <input value="http://" class="bootstrap-wysihtml5-insert-image-url input-xlarge">
        </div>
        <div class="modal-footer">
          <a href="#" class="btn" data-dismiss="modal">Cancel</a>
          <a href="#" class="btn btn-primary" data-dismiss="modal">Insert image</a>
        </div>
      </div>
      <a class="btn" data-wysihtml5-command="insertImage" title="Insert image">
        <i class="icon-picture"></i>
      </a>
    </li>
</ul>