@import 'nib'
global-reset()

// Stylesheet file for layout structure. Logo, header and footer etc.
// No colors or widget specific rules here.

html
  height 100%
  width 100%

body
  font 100%/1.5 "Helvetica Neue",Helvetica, "Lucida Grande", tahoma, arial, sans-serif

h1
  font-size 200%

.display_none
  display none !important

.display_block
  display block !important

.container
  margin 0 auto
  width 100%

.topmenu
  height 50px
  width 100%

  button
    margin .5em

.new-document-container
  margin 1em auto
  position relative
  width 75%
  .wysihtml5-form textarea
    height 350px
  .wysihtml5-form textarea, .wysihtml5-toolbar
    display block
    margin 0 auto
    width 100%

  .form-buttons
    margin .5em 0 0