@import 'nib'
global-reset()

// Stylesheet file for layout structure. Logo, header and footer etc.
// No colors or widget specific rules here.

html
  height 100%
  width 100%

body
  font 1em/1.4 "Helvetica Neue","Lucida Grande", tahoma, arial, sans-serif

h1
  font-size 200%

.wysihtml5-container
  margin 1em 0
  width 100%
  .wysihtml5-form textarea
    height 350px
  .wysihtml5-form textarea, .wysihtml5-toolbar
    display block
    margin 0 auto
    width 50%