@import 'nib'
global-reset()

// Stylesheet file for layout structure. Logo, header and footer etc.
// No colors or widget specific rules here.

html
  height 100%
  width 100%

body
  font 100%/1.5 "Helvetica Neue",Helvetica, "Lucida Grande", tahoma, arial, sans-serif

h1
  font-size 200%

.display_none
  display none !important

.display_block
  display block !important

.container
  margin 0 auto
  width 100%

.topmenu
  height 50px
  width 100%

  button
    margin .5em

.new-document-container, .edit-document-container
  left 2em
  margin 1em auto
  padding 2em
  position absolute
  width 75%
  z-index 9999
  .wysihtml5-form textarea
    height 350px
  .wysihtml5-form textarea, .wysihtml5-toolbar
    display block
    margin 0 auto
    width 100%

  .form-buttons
    margin .5em 0 0

.all-documents
  margin 0 auto
  width 90%

  ul
    display block
    margin 1em 0

    li
      margin 1em 0
      padding .25em
      & > *
        margin .5em 0 0
      button
        padding-left 2em
        position relative
        i
          left 10%
          position absolute
          top 25%

.document
  left 2em
  height auto
  margin 0 2em
  padding 2em
  position absolute
  z-index 9999
  button
    margin-top 1em

  .close-document-btn
    border-radius 3em
    height 30px
    margin 0
    position absolute
    right -1.25em
    top -1.25em
    width 30px
    .icon-remove
      left 25%
      position absolute
      top 25%