@import 'nib'

h1
  color #555

.new-document-container, .edit-document-container, .document
  background-color rgb(243, 243, 243)
  background-color rgba(243, 243, 243, 0.95)
  border 5px solid rgb(200,200,200)
  border 5px solid rgba(200,200,200,0.75)
  box-shadow 0 -2px 6px rgba(120,120,120,0.7)

.all-documents ul li.document-list-element
  border-bottom 1px solid rgb(100,100,100)